gradle-local.properties
/bundles/
/client-extensions/*/build/
/client-extensions/*/dist/
/build/
/.gradle/

**/node_modules/
**/node_modules_cache/
**/elasticsearch7
**/.DS_Store
**/build
**/dist
**/@vite
**/adaptive